@media screen and (max-width: 481px){
*{
	padding:0;
	margin:0;
}
body{
	background-color:rgba(35, 35, 35, 1);
	
}
option {
	background:rgb(52, 52, 52);
}
#container {
	display: table;
	width: 100%;
	height: 90%;
}
#middle {
	display: table-cell;
	vertical-align: middle;
}
#inner {
	display: table;
	margin: 0 auto;
	max-width:400px;
}
.center{
	text-align:center;
}
.selection{
	width:100%;
}
.text{
	color:white;
	font-family:segoe ui;
}
.link{
	text-decoration:none;
}
.title{
	font-size:56px;
	width:450px;
}
.form{
	margin-top:40px;
}
.selection {
	font-family: segoe ui;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border:none;
	padding: .6em 5em .6em 1em;
	margin: 10px 0;
	font-size: 1em;
	color:grey;
	background-color:rgba(52, 52, 52, 0.3);
	transition: background 0.3s linear;
}
.selection:disabled {
	color:rgba(77, 77, 77, 0.8);
	background-color:rgba(52, 52, 52, 0.3);
	transition: background 0.3s linear;
}
.selection:hover:enabled {
	cursor: pointer;
	background-color:rgba(52, 52, 52, 0.6);
	transition: background 0.3s linear;
}
.fancy {
	padding: .5em 1em .5em 1em;
	margin-top: 30px;
	border-radius: 3px;
	transition: background 0.3s linear;
}
.fancy:hover {
	cursor: pointer;
	position: relative;
	background-color: rgba(0,191,255,0.5);
	transition: background 0.3s linear;
}