		*{
			margin: 0;
			padding: 0;
			font-family: calibri;
			font-size: 35px;
			color: white;
			overflow: hidden
		}
		*::-moz-selection {
			background: rgba(255, 0, 0, 0.2);
		}
		*:hover{
			cursor: default;
		}
		body{
			width: 100vw;
			height: 100vh;
			background-image: url("1.jpg");
			background-size: cover; 
			background-repeat: no-repeat;
			background-position: center center;
		}
		.title{
			text-align: center;
			margin-left: 15vw;
			margin-top: 15vh;
			font-family: freestyle script;
			font-size: 4em;
		}
		.menubox{
			margin-top: 20vh;
			margin-left: 15vw;
		}
		.line{
			border-bottom: 3px solid;
		}
		@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
		@keyframes slideInFromLeft { from { transform: translateX(50%); opacity:0; } to { transform: translateX(0); opacity:1; } }
		.menutitle{
			opacity: 0;
			animation: slideInFromLeft ease-out 1;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			font-size: 1.2em;
			margin-bottom: 40px;
		}
		.item{
			opacity: 0;
			animation: fadeIn ease-in 1;
			animation-fill-mode: forwards;
			animation-duration: 0.7s;
			margin-top: 5px;
			margin-left: 20px;
		}
		.item.one{
			animation-delay: 0.3s;
		}
		.item.two{
			animation-delay: 0.5s;
		}
		.item.three{
			animation-delay: 0.7s;
		}
		.item.four{
			animation-delay: 0.9s;
		}
		.item.five{
			animation-delay: 1.2s;
		}
		.item.six{
			animation-delay: 1.5s;
		}
		a{
			text-decoration: none;
		}
		a:hover{
			color: #c1c1c1; 
			cursor: pointer;
		}