		*{
			margin:0;
			padding:0;
			font-family:consolas;
		}
		body{
			width:100vw;
		}
		.main{
			width:900px;
			margin-left:auto;
			margin-right:auto;
		}
		.title{
			text-align:center;
			font-size:70px;
			border-bottom:5px solid black;
			margin-top:20px;
			margin-bottom:50px;
		}
		.details{
			width:750px;
			margin-left:auto;
			margin-right:auto;
		}
		.wrapper{
			width:730px;
			overflow:hidden;
			margin-top:10px;
			margin-bottom:10px;
		}
		.one{
			font-size:40px;
			width:270px;
			float:left;
			text-align:right;
			padding-right:10px;
		}
		.two{
			width:450px;
			overflow: hidden;
		}
		.input{
			box-sizing: border-box;
			width:448px;
			font-size:40px;
			border:1px solid grey;
			padding-left: 5px;
		}
		.top{
			font-size:40px;
			width:280px;
			margin-top:30px;
		}
		textarea{
			width:708px;
			font-size:30px;
			line-height:1;
			height:154px;
			padding:10px;
			border:1px solid grey;
			resize: vertical;
		}
		.select{ 
			width:650px;
			font-size:40px; 
			border:1px solid grey;
		}
		.print{
			width:730px;
			font-size:30px;
			font-weight:bold;
			margin-top:30px;
			margin-left:74px;
			padding-top:10px;
			padding-bottom:10px;
			border:1px solid grey;
			cursor:pointer;
		}
		.print:active{
			background-color:#D3D3D3;
		}
		textarea:focus, input:focus, select:focus{
			background-color: #F3F3F3;
		}
		@media print{
			.main{ width:100%; }
			.print{ display:none; }
			.title{ display:none; }
			.RMA{ font-size:100px; }
			.RMA.wrapper{ border-bottom:4px solid black; padding-left:40px; padding-bottom:2px;}
			.RMA.one, .RMA.two{ margin-top:150px; }
			.RMA.input{ border:none; }
			.BEA.wrapper, .PRO.wrapper, .DAT.wrapper{ margin-left:20px; }
			.BEA.one, .BEA.two{ margin-top:50px; }
			.INF.top{ margin-left:20px; margin-top:50px; }
			.INF.bot{ margin-left:20px; margin-right:40px; }
			.select, option{ width:700px; border:none; font-size:70px; margin-left:20px; }
			.input { padding:0; }
			
		}