*{
	padding: 0;
	margin: 0;
	font-family: segoe ui;
}
body{
	background-color: rgb(250,250,250);
}
#top {
	background-color: #3F51B5;
	width: 100%;
	height: 64px;
	box-shadow: 0px 1px 3px grey;
	z-index: 2;
}
#title{
	color: white;
	float: left;
	margin-left: 20%;
	margin-top: 10px;
	font-size: 28px;
	text-decoration: none;
}
#select {
	width: 500px;
	margin: auto;
	padding-top: 15px;
}
.dropdown {
	width: 180px;
	height: 30px;
	margin-right: 20px;
	border: none;
	box-shadow: 0 1px 0 0px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	transition: box-shadow 0.5s;
}

.dropdown:hover{
	box-shadow: 0 2px 0 0px;
}
.dropdown:disabled {
	opacity: 0.5;
}
.dropdown:disabled:hover{
	box-shadow: 0 1px 0 0px;
}
.dropdown:active{
}
#fixit{
	height: 30px;
	border: none;
	padding-left: 16px;
	padding-right: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background: none;
	transition: background-color 0.5s;
}
#fixit:hover {
	background-color: #448AFF;
}
#fixit:active {
	background-color: #536DFE;
}
#fixit:disabled {
	opacity: 0.5;
	background: none;
}
#include {
	opacity: 0;
	box-sizing: border-box;
	height: calc(100vh - 66px);
	overflow-y: scroll;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	padding-top: 40px;
	padding-bottom: auto;
	padding-left: 50px;
	padding-right: 50px;
}
.howto {
	margin-bottom: 30px;
	width:800px;
	font-size: 20px;
	padding-left: 20px;
}
.android {
	background-image: url("./images/android128.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 20px 20px;
}
.wce {
	background-image: url("./images/wce128.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 20px 20px;
}
.weh {
	background-image: url("./images/windows128.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 20px 20px;
}
.windows {
	background-image: url("./images/windows128.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	background-size: 20px 20px;
}
.howto>p {
	padding-left: 6px;
	margin-left: 10px;
	margin-top: 10px;
	color: dark-grey;
	font-size: 13px;
	font-family: consolas;
	white-space: pre-wrap;
}
.howto:before{
	width: 595px;
	padding-left: 5px;
	display: inline-block;
}
.coldboot:before {
	content: "Coldboot";
}
.factory:before {
	content: "Factory Reset";
}
.os:before {
	content: "Firmware Upgrade";
}
.menu:before {
	content: "Recovery Menu";
}
#LastEdit {

}